        .hidden {
            display: none;
        }
        
        .visibe {
            display: none;
        }
        
        table {
            color: black;
        }
        
        #aside {
            border: 2px solid black;
        }
        
        #result {
            border: 2px solid black;
        }
        
        body {
            background-color: #063665;
            color: white;
        }
        
        header {
            position: static;
            background-color: #292b2c;
            justify-content: end;
        }
        
        footer {
            position: static;
            bottom: 0px;
            width: 100%;
            text-align: center;
            color: white;
            background-color: #292b2c;
            opacity: 85%;
        }
        
        #allSongs {
            overflow-y: scroll;
            height: 500px;
        }
        
        #allSongs td {
            justify-content: space-around;
            align-content: start;
            background-color: #103458;
        }
        
        #allSongsTH {
            justify-content: start;
            background-color: #09529b;
        }
        
        button {
            display: inline-block;
        }
        
        td {
            width: 200px;
        }
        
        form input[type="submit"] {
            cursor: pointer;
        }
        
        form {
            justify-content: space-around;
            border: none;
        }
        
        form input[type="text"],
        select {
            border-radius: 5px;
        }
        
        form label {
            text-transform: uppercase;
        }
        
        form input[type="text"]:hover {
            background-color: #7289da;
        }
        
        #songDetails {
            list-style: none;
        }
        
        .dropbtn {
            background-color: #055d85;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            border-radius: 12px;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {
            background-color: #055d85;
            color: whitesmoke;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown:hover .dropbtn {
            background-color: #7289da;
            color: white;
        }
        /* FROM https://www.w3schools.com/howto/howto_js_snackbar.asp */
        /* The snackbar - position it at the top and in the middle of the screen */
        
        #snackbar {
            visibility: hidden;
            /* Hidden by default. Visible on click */
            min-width: 250px;
            /* Set a default minimum width */
            margin-left: -125px;
            /* Divide value of min-width by 2 */
            background-color: #333;
            /* Black background color */
            color: #fff;
            /* White text color */
            text-align: center;
            /* Centered text */
            border-radius: 2px;
            /* Rounded borders */
            padding: 16px;
            /* Padding */
            position: fixed;
            /* Sit on top of the screen */
            z-index: 1;
            /* Add a z-index if needed */
            left: 50%;
            /* Center the snackbar */
            top: 15px;
            /* 30px from the top */
        }
        
        #snackbar.show {
            visibility: visible;
            /* Show the snackbar (COPIED FROM EXERCISE 7 LAB 10 RANDY CONNOLLY) */
            /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        /* Animations to fade the snackbar in and out */
        
        @-webkit-keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 15px;
                opacity: 1;
            }
        }
        
        @keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 15px;
                opacity: 1;
            }
        }
        
        @-webkit-keyframes fadeout {
            from {
                top: 15px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }
        
        @keyframes fadeout {
            from {
                top: 15px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }